<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <i class="fa fa-shopping-bag icon-header" aria-hidden="true"></i>
                <a class="navbar-brand" href="{{ 'home'|page }}">Ideas Orders</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'cart' %}active{% endif %}">
                    <a href="{{ 'cart'|page }}">Cart</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                <li class="{% if this.page.id == 'user-manager' %}active{% endif %} dropdown" >
                    <a href="{{ 'user-manager'|page }}"  data-toggle="dropdown">User</a>
                    <ul class="dropdown-menu">
                        <li><a href="/order-manager">Order manager</a></li>
                        <li><a href="/address-manager">Address manager</a></li>
                        <li><a href="/change-password">Change password</a></li>
                        <li><a data-request="onLogout" data-request-data="redirect: '/'">LOG OUT</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="{% if this.page.id == 'register' %}active{% endif %}">
                    <a href="{{ 'register'|page }}">Register</a>
                </li>
                <li class="{% if this.page.id == 'login' %}active{% endif %}">
                    <a href="{{ 'login'|page }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>